html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sticky-top {
  background-color: #151718;
  position: sticky;
  top: 0;
  z-index: 1000; /* Adjust the z-index as needed */
}


.content-container {
  flex: 1;
  padding: 20px;
}

.footer {
  background-color: #151718;
  text-align: center;
  padding: 10px 0;
  position: sticky;
  bottom: 0;
  z-index: 100; /* Ensure a higher z-index */
}

